.app {
  font-size: 16px;
  background: linear-gradient(#10a3c5, #c9d0e0);
  height: 100vh;
}

.landing {

}

.MuiFormControl-root {
  display: block;
}

.input {
    background-Color: #82c4decf;
}

.form {
  width: 100%;
}

.logo {
  font-Family: Quantico;
  font-Weight: 700;
  font-Size: 5em;
  line-Height: 85%;
  text-Align: center;
}

.strapline {
  font-Family: Poppins;
  font-Weight: 400;
  font-Size: 2em;
  text-Align: center;
}